/* Color Palette
# - Sof Blush F1DEDE
# - Lilac Ash BBACC1
# - Rosy Granite 80727B
# - Grey Olive 909580
*/

/* Global styles 
------------------------------------*/
body {
    background: #F1DEDE;
    font-family: EB Garamond, serif;
}

h1{
    font-size: 2.5em;
}

h2{
    font-size: 1.7em;
}

h1, h2 {
    font-family: IBM Plex Serif, serif;
    font-weight: 400;
}

/* Header & Footer 
------------------------------------*/
header {
    background: #BBACC1;
}

footer {
    background: #BBACC1;
}



/* Work Experience
------------------------------------*/
.workexp {
    background: #80727B;
    
}



/* Education
------------------------------------*/
.education {
    background: #909580;
}